Package            Version
------------------ ---------
anyio              3.5.0
asgiref            3.5.0
certifi            2021.10.8
charset-normalizer 2.0.12
click              8.1.2
colorama           0.4.4
et-xmlfile         1.1.0
fastapi            0.75.2
h11                0.13.0
idna               3.3
numpy              1.22.3
openpyxl           3.0.9
pandas             1.4.2
pip                21.3.1
pydantic           1.9.0
python-dateutil    2.8.2
pytz               2022.1
requests           2.27.1
setuptools         60.2.0
six                1.16.0
sniffio            1.2.0
starlette          0.17.1
typing_extensions  4.2.0
urllib3            1.26.9
uvicorn            0.17.6
wheel              0.37.1
